<div fxLayout="row wrap">
  <div fxFlex>
    <div class="form-field autocomplete">
      <div class="style-field">
        <input type="text" class="style-input" placeholder="მოძებნეთ პროდუქტი" [(ngModel)]="search"
               (ngModelChange)="searchEvent($event)">
      </div>
      <div class="autocomplete-opened" *ngIf="searchResult$ | async as searchResult" fxLayout="column">
        <div fxFlex="initial" *ngFor="let item of searchResult" class="search-item" (click)="selectItem(item)">
          {{item.barcode}} -  {{item.name}}
        </div>
      </div>
    </div>
  </div>
</div>
