:host {
  width: 100%;
}

.autocomplete {
  position: relative;
}

.autocomplete-opened {
  position: absolute;
  background-color: #FCFCFC;
  z-index: 1;
  width: 97%;
  margin: 0 5px;
  box-shadow: 0 3px 5px #c0b7b7;
  max-height: 300px;
  overflow: auto;
}

.search-item {
  height: 30px;
  border-top: 1px solid #95BFF1;
  line-height: 24px;
  padding: 3px 5px;
  cursor: pointer;
  &:first-of-type {
    border-top: none;
  }
  &:hover {
    background-color: #CCCCCC;
  }
}

.sj-ic-date {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 5px;
  color: #c7c7c7;
  top: 10px;
  bottom: 0;
  margin: auto;
  font-size: 16px;
}

.add_user{
  margin-top: 35px;
}

.close-add-user{
  margin-top: 35px;
  color: #F44336;
  cursor: pointer;
}


.selected-content {
  font-family: "BPG-Arial-Caps-2010", Sylfaen, Arial, sans-serif;
  font-size: 12px;
  padding-top: 35px;
  padding-left: 5px;
  border-bottom: 1px solid #c7c7c7;
}
