<mat-icon class="close" svgIcon="close" (click)="closeSidebar()"></mat-icon>
<ng-container *ngIf="service$ | async as service">
<mat-tab-group class="sidebar-content">
  <mat-tab label="ინფორმაცია">
    <ng-template mat-tab-label>
      <span class="font-primary">ინფორმაცია</span>
    </ng-template>

      <div fxLayout="row">
        <mat-card fxFlex class="profile-card">
          <mat-list role="list">
            <mat-list-item role="listitem" class="list-item"><span
              class="font-primary font-s12 mr-15">დასახელება:</span> {{service.name}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span
              class="font-primary font-s12 mr-15">ღირებულება:</span> {{service.price}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span
              class="font-primary font-s12 mr-15">დრო:</span> {{service.time}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span
              class="font-primary font-s12 mr-15">სპეციალური:</span> {{service.isSpecial}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span
              class="font-primary font-s12 mr-15">ავტომატური ფასი:</span> {{service.autoPriceView}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span
              class="font-primary font-s12 mr-15">ავტომატური დრო:</span> {{service.autoTimeView}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span
              class="font-primary font-s12 mr-15">კატეგორია:</span> {{service.serviceCategory.name}}</mat-list-item>
          </mat-list>
        </mat-card>
      </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="font-primary">პროდუქტები</span>
    </ng-template>
    <app-service-products [service]="service"></app-service-products>
  </mat-tab>
</mat-tab-group>
</ng-container>
