:host {
  width: 100vw;
  height: 100%;
  background-color: white;
  padding: 15px;
  position: relative;
}

@media only screen and (min-width: 1400px) {
  :host {
    width: 70vw;
  }
}

.close {
  position: absolute;
  left: 5px;
  top: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  svg{
    height: 16px;
    width: 16px;
    font-size: 16px;
  }
}

h4 {
  color: black;
  height: 25px;
  margin-left: 8px;
}



.list-item{
  height: 30px !important;
}

.profile-card {
  margin: 5px;
}
