<div  class="px-16" fxLayout="row wrap">

  <div fxFlex="initial" class="action-buttons">
    <button mat-stroked-button color="primary" class="button font-primary"  (click)="edit('_')">
      <mat-icon svgIcon="plus-box"></mat-icon>
      დამატება
    </button>
  </div>
  <div fxFlex></div>
  <div fxFlex="initial" class="action-buttons">

    <button mat-stroked-button color="primary" class="button font-primary">
      <mat-icon svgIcon="file-star"></mat-icon>
      შაბლონი
    </button>

    <button mat-stroked-button color="primary" class="button  font-primary">
      <mat-icon svgIcon="upload-multiple"></mat-icon>
      ატვირთვა
    </button>

    <button mat-stroked-button color="primary" class="button  font-primary">
      <mat-icon svgIcon="download-multiple"></mat-icon>
      ჩამოტვირთვა
    </button>
  </div>
</div>

<app-dynamic-mat-table [columns]="displayedColumns"
                       [data]="loadData$ | async"
                       [pageParams]="{page: paginatorPageIndex, pageSize: paginatorPageSize}"
                       [isLoading]="isLoading"
                       (pageParamsChange)="paginatorChange($event)"
                       [actions]="{
                           edit: true,
                           delete: true
                           }"
                       (delete)="delete($event.event)"
                       (edit)="edit($event.event,true)"
></app-dynamic-mat-table>
