<div fxLayout="column wrap" class="container">
  <div fxFlex="initial" fxLayout="row">
    <app-wa-datepicker-range fxFlex="250px" placeholder="აირჩიეთ თარიღები"></app-wa-datepicker-range>
    <div fxFlex></div>
    <div fxFlex="initial">
      <ng-container *ngIf="salarySum$ | async as salarySum">
        <div class="sallary-actions">
          <input type="button" [disabled]="salarySum === 0" class="style-button blue-but noshadow caps"
                 value="ხელფასის ჩარიცხა" (click)="previewSalaries()"/>
        </div>
      </ng-container>
    </div>
  </div>
  <div fxFlex>
    <table class="table">
      <thead>
      <tr>
        <th width="40px">
          <mat-checkbox tabindex="-1" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <th><span class="transactions-items-text">თანამშრომელი</span></th>
        <th><span class="transactions-items-text">გამომუშავებული (₾)</span></th>
        <th><span class="transactions-items-text">პროდუქტები</span></th>
        <th><span class="transactions-items-text">ჯამი (₾)</span></th>
        <th width="40px"><span class="transactions-items-text">გასაცემი</span></th>
        <th><span class="transactions-items-text">გაცემული</span></th>
        <th class="transaction-delete-td"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of employees; let i = index">
        <td>
          <mat-checkbox tabindex="-1" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
        <td><span class="transactions-items-text"><a href="#">
           {{row.user.firstname}} {{row.user.lastname}}
        </a></span></td>
        <td><span class="transactions-items-text">{{row?.generatedCash}}</span></td>
        <td><span class="transactions-items-text">{{row?.generatedSale}}</span></td>
        <td><span class="transactions-items-text">{{row?.sum}}</span></td>
        <td>
          <ng-container *ngIf="selection.isSelected(row); else notSelected">
            <input [(ngModel)]="salary[row.id]" type="text" placeholder="0" [tabindex]="i+1"
                   (ngModelChange)="onChange($event)">
          </ng-container>
          <ng-template #notSelected>
            <span class="transactions-items-text">0</span>
          </ng-template>
        </td>
        <td><span class="transactions-items-text">{{row?.takedSalary}}</span></td>
        <td></td>
      </tr>

      </tbody>
      <tfoot>
      <tr>
        <th width="40px"></th>
        <th><span class="transactions-items-text">{{employees.length}}</span></th>
        <th><span class="transactions-items-text"></span></th>
        <th><span class="transactions-items-text"></span></th>
        <th><span class="transactions-items-text"></span></th>
        <th width="40px"><span class="transactions-items-text">{{salarySum$ | async}} ₾</span></th>
        <th><span class="transactions-items-text"></span></th>
        <th class="transaction-delete-td"></th>
      </tr>
      </tfoot>
    </table>

  </div>
</div>
