<h3>{{to.label}}</h3>
<div *ngFor="let field of field.fieldGroup; let i = index;" fxLayout="row">
  <formly-field fxFlex class="col" [field]="field"></formly-field>
  <div fxFlex="initial">
    <button mat-icon-button (click)="remove(i)">
      <mat-icon svgIcon="delete"></mat-icon>
    </button>
  </div>
</div>
<div style="margin:15px 0;">
  <button mat-raised-button  (click)="add()"  color="accent">{{ to.addText }}</button>
</div>
