:host {
  width: 327px;
  height: 345px;
  background-color: #F1F5F8;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0 0 1px #c0b7b7;
  border: 1px solid #e5e1e1;
}


.booking-products {


  &__header {
    background-color: white;
    border-radius: 5px 5px 0 0;
    height: 42px;
    border-bottom: 1px solid #e5e1e1;
  }

  &__body {
    overflow: auto;

    .product-item {
      width: 310px;
      height: 101px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 0 1px #c0b7b7;
      margin: 5px auto;

      &__title {
        margin: 10px;
        font-family: "BPG-Arial-Caps-2010", Sylfaen, Arial, sans-serif;
        font-size: 11px;
      }

      .icon {
        margin: 5px;
        cursor: pointer;

        &.add {
          color: #F5A623;
        }

        &.info {
          color: #95BFF1;
        }
      }

      .style-input {

        line-height: 24px;
      }

      .style-radio {
        height: 25px;
        margin: 0 5px;
        label {
          margin-right: 15px;
          line-height: 25px;
          input {
            margin-right: 5px;
          }
        }
      }

      .from-label {
        line-height: 13px;
        margin-bottom: 5px;
      }
    }
  }

  &__footer {
    background-color: white;
    border-radius: 0 0 5px 5px;
    height: 50px;
    padding: 5px;
    border-top: 1px solid #e5e1e1;
  }
}
