<div fxFlex class="booking-products" fxLayout="column">
  <div fxFlex="initial" class="booking-products__header">
    <app-product-search fxFlex="initial" (selectChanged)="chooseProduct($event)"></app-product-search>
  </div>
  <div fxFlex class="booking-products__body" fusePerfectScrollbar>
    <div fxLayout="column" [formGroup]="group">
      <div fxFlex="initial" formArrayName="serviceProducts"
           *ngFor="let item of formData.controls; let i = index;">
        <div [formGroupName]="i" fxLayout="row">
          <div class="product-item" fxLayout="column">

            <div fxFlex="initial" fxLayout="row">
              <div fxFlex class="product-item__title">
                {{item.value?.product?.name}}
              </div>
              <div fxFlex="initial">
                <mat-icon class="icon icon-delete" (click)="removeItem(i)"></mat-icon>
              </div>
            </div>
            <div fxFlex fxLayout="row" style="padding:0 5px">
              <div fxFlex>
                <div class="form-field">
                  <label class="from-label">რაოდენობა</label>
                  <div class="style-field">
                    <input type="number" class="style-input"
                           formControlName="quantity"
                           placeholder="ცალი">
                  </div>
                </div>
              </div>
              <div fxFlex>
                <div class="form-field">
                  <label class="from-label">გრამი</label>
                  <div class="style-field">
                    <input type="number" class="style-input"
                           formControlName="gram"
                           placeholder="გრ">
                  </div>
                </div>
              </div>
              <div fxFlex="80px">
                <div class="form-field">
                  <label class="from-label">ფასი</label>
                  <div class="style-field">
                    <input type="number" class="style-input"
                           formControlName="price"
                           placeholder="ფასი">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="initial" class="booking-products__footer" fxLayout="row">
    <div fxFlex>

    </div>
    <div fxFlex="50px">
      <div class="style-field">
        ჯამი:
      </div>
    </div>
    <div fxFlex="80px">
      <div class="style-field">
        <input type="text" class="style-input" readonly [value]="getSum(formData.controls)"
               placeholder="ჯამი">
      </div>
    </div>
  </div>
</div>
