
<div fxLayout="column" [formGroup]="group">
  <div  fxFlex="initial" formArrayName="specServices"
        *ngFor="let item of formData.controls; let i = index;">
    <div [formGroupName]="i" fxLayout="row">
      <div fxFlex="initial">
        <div class="form-field" style="margin-top: 30px;" >
          <div class="style-field">
            <input  type="checkbox" >
          </div>
        </div>

      </div>
      <div fxFlex>
        <div class="form-field" >
          <label class="from-label">სპეციალური პროცედურა</label>
          <div class="style-field">
            <input  type="text" class="style-input" [readOnly]="true"
                    formControlName="serviceName"
                    placeholder="სპეციალური პროცედურა">
          </div>
        </div>

      </div>
      <div fxFlex>
        <div class="form-field">
          <label class="from-label">სპეციალისტი</label>
          <div class="style-field">
            <select class="form-select required select2-hidden-accessible style-input" formControlName="employeeId" tabindex="-1" aria-hidden="true">
                <option *ngFor="let employee of employees" [value]="employee.id">
                  {{employee.user.firstname}} {{employee.user.lastname}}
                </option>
            </select>

          </div>
        </div>

      </div>
      <div fxFlex="80px">
        <div class="form-field" >
          <label class="from-label">ფასი</label>
          <div class="style-field">
            <input  type="number" class="style-input"
                    formControlName="price"
                    placeholder="ფასი">
          </div>
        </div>
      </div>
      <div fxFlex="80px">
        <div class="form-field" >
          <label class="from-label">ხელფასი</label>
          <div class="style-field">
            <input  type="number" class="style-input"
                    formControlName="salary"
                    placeholder="ხელფასი">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
