<div class="page-layout simple fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <mat-tab-group >
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="font-primary">პროდუქტები</span>
          </ng-template>

          <app-products-list></app-products-list>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="font-primary">კატეგორიები</span>
          </ng-template>
          <app-category></app-category>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="font-primary">მომწოდებლები</span>
          </ng-template>
          <app-distributors></app-distributors>
        </mat-tab>
      </mat-tab-group>


      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>



