

<div fxFlex="0 0 auto" class="cal-content">
  <div  fxLayout="row" *ngFor="let employee of employees; let f = first" class="line">
    <div fxFlex="220px" class="side">
      {{employee.user.firstname}} {{employee.user.lastname}}
    </div>
    <div fxFlex fxLayout="row" >
      <div *ngFor="let split of splitsArray" class="split" (click)="addBooking(split,employee)">
        {{timeConvert(split)}}
      </div>
    </div>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
sdfgsd
