:host {
  width: 100%;
  overflow-x: auto;
}

.split {
  width: 50px;
  min-height: 40px;
  line-height: 40px;
  float: left;
  padding: 5px;
  border: 1px solid #505050;
  background-color: #FFFFFF;
  color: #505050;
  cursor: pointer;
  &:hover {
    background-color: #CCCCCC;
  }
}


.side {
  padding:5px 15px;
  border: 1px outset #505050;
}

.cal-content {
  padding: 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.line {
  min-height: 40px;
  line-height: 40px;
  justify-content: flex-start;
  align-items: center;
  &:hover {
    background-color: #2d323e;
    color: white;
  }
}

.calendar-header {
  background-color: white;
  width: 100%;
}
.action-buttons {
  margin: 5px 15px;

  .button {
    height: 25px;
    line-height: 25px;
  }
}
