<!-- CONTENT TOOLBAR -->


<div  class="toolbar px-24 py-8">
  <button
    mat-icon-button
    class="sidebar-toggle"
    fxHide.gt-md
    (click)="toggleSidebar('employee-positions')"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span class="font-primary">თანამშრომლები</span>
  <button mat-icon-button (click)="addEmployee('_')">
    <mat-icon svgIcon="plus-box"></mat-icon>
  </button>
</div>

<!-- / CONTENT TOOLBAR -->
  <app-dynamic-mat-table [columns]="displayedColumns"
                         [data]="employees$ | async"
                         [pageParams]="{page: paginatorPageIndex, pageSize: paginatorPageSize}"
                         [isLoading]="isLoading"
                         (pageParamsChange)="paginatorChange($event)"
                         [actions]="{
                           edit: true,
                           delete: true,
                           show: true
                           }"
                         (show)="view( $event.event)"
                         (edit)="addEmployee( $event.event, true)"
                         (delete)="delete($event.event)"></app-dynamic-mat-table>

