<mat-form-field appearance="outline">
  <mat-label>{{field.templateOptions.label}}</mat-label>
  <mat-select [formControl]="formControl" [formlyAttributes]="field">
    <ng-container *ngIf="distributors$ | async as distributors">
      <mat-option *ngFor="let distributor of distributors" [value]="distributor.id">
        {{distributor.name}}
      </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>
