<!--<mat-form-field appearance="outline">-->
<!--  <mat-label>{{field.templateOptions.label}}</mat-label>-->
<!--  <input  matInput-->
<!--          [formControl]="formControl" [formlyAttributes]="field"-->
<!--          [(colorPicker)]="color"-->
<!--          [style.background]="color"-->
<!--          type="text"-->
<!--          [placeholder]="to.placeholder">-->
<!--</mat-form-field>-->


<div class="form-field">
  <label class="from-label">{{field.templateOptions.label}}</label>
  <div class="style-field">
    <input  class="style-input"
            [formControl]="formControl" [formlyAttributes]="field"
            [(colorPicker)]="color"
            [style.background]="color"
            type="text"
            [placeholder]="to.placeholder">
  </div>
</div>

