:host {
  margin: 20px;
}

.cashier-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 1px #c0b7b7;
  height: 212px;

  &__content {
    text-align: center;



    .oval {
      width: 41px;
      height: 41px;
      border-radius: 50%;
      margin: 20px auto;

      mat-icon {
        margin: 8px;
        color: white;
      }

      &.blue-bg {
        background-color: #45e7ff;
      }

      &.green-bg {
        background-color: #1cd14d;
      }

      &.red-bg {
        background-color: #ff7575;
      }

      &.yellow-bg {
        background-color: #fed600;
      }
    }

    .title {
      margin: 0 auto;
      font-family: "BPGArialCaps", sans-serif;
      font-size: 11px;
      &__blue {
        color: #4a90e2;
      }

      &__green {
        color: #1cd14d;
      }

      &__red {
        color: #ff7575;
      }

      &__yellow {
        color: #fed600;
      }
    }

    .sum {
      font-size: 30px;
      margin: 10px auto;
      &__blue {
        color: #4a90e2;
      }

      &__green {
        color: #1cd14d;
      }

      &__red {
        color: #ff7575;
      }

      &__yellow {
        color: #fed600;
      }

    }
  }

  &__footer {
    background-color: #f9fafc;
    border-radius: 0 0 5px 5px;
    padding: 5px;


    .close-button {
      width: 100%;
    }
    .content {
      text-align: center;
      padding: 10px;
      font-size: 11px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #3c3c3c;

      mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
        float: left;
        color: #a8a8a8;

      }
    }
  }
}



.container {
  background-color: #FFFFFF;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.sallary-actions {
  margin: 10px;
}


.table {
  width: 100%;
  border: 0;
  border-collapse: collapse;

  thead {
    background: #f9fafc;
    color: #acacac;
    font-size: 11px;

    tr {
      border-top: 1px solid #e8e8e8;
      th:first-child {
        padding-left: 16px;
      }
      th {
        position: sticky;
        top: 0;
        padding: 15px 4px 14px;
        white-space: nowrap;
        background: #f9fafc;
        z-index: 1;
      }
    }

  }

  tfoot {
    background: #f9fafc;
    color: #acacac;
    font-size: 11px;

    tr {
      border-top: 1px solid #e8e8e8;
      th:first-child {
        padding-left: 16px;
      }
      th {
        position: sticky;
        bottom: 0;
        padding: 15px 4px 14px;
        white-space: nowrap;
        background: #f9fafc;
        z-index: 1;
        text-align: left;
      }
    }

  }

  td, th {
    padding: 8px;
  }

  th:first-child, td:first-child {
    padding-left: 16px;
  }

  .transactions-items-text {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
    min-height: 13px;
    vertical-align: middle;
  }

  tbody {
    background: #ffffff;

    tr {
      border-top: 1px solid #e8e8e8;
    }
  }

  input {
    border: 1px solid #e8e8e8;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    &:focus {
      border: 1px solid #727272;
    }
  }
}
