<div fxLayout="column">
  <app-cashier-current fxFlex="initial" ></app-cashier-current>
  <div fxFlex>
    <div fxLayout="column wrap" class="container">
      <div fxFlex="initial" fxLayout="row">
        <app-wa-datepicker-range fxFlex="250px" placeholder="აირჩიეთ თარიღები"></app-wa-datepicker-range>
        <div fxFlex></div>
      </div>
      <div fxFlex>
        <table class="table">
          <thead>
          <tr>
            <th><span class="transactions-items-text">თარიღი</span></th>
            <th><span class="transactions-items-text">გახსნისას</span></th>
            <th><span class="transactions-items-text">შემოსავალი</span></th>
            <th><span class="transactions-items-text">ნაღდი ფული</span></th>
            <th><span class="transactions-items-text">ბარათი</span></th>
            <th><span class="transactions-items-text">გასავალი</span></th>
            <th><span class="transactions-items-text">ჩახურვისას</span></th>
            <th><span class="transactions-items-text">შემქმნელი</span></th>
            <th><span class="transactions-items-text">კომენტარი</span></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="cashiers$ |async as cashiers">
            <tr *ngFor="let row of cashiers.data; let i = index">
              <td><span class="transactions-items-text">{{row.cashierDay | date:'dd/MM/yyyy'}}</span></td>
              <td><span class="transactions-items-text">{{row.openSum}}</span></td>
              <td><span class="transactions-items-text">{{row.income}}</span></td>
              <td><span class="transactions-items-text">{{row.incomeCash}}</span></td>
              <td><span class="transactions-items-text">{{row.incomeCard}}</span></td>
              <td><span class="transactions-items-text">{{row.outcome}}</span></td>
              <td><span class="transactions-items-text">{{row.closeSum}}</span></td>
              <td><span class="transactions-items-text">{{row?.employee?.user?.firstname}} {{row?.employee?.user?.lastname}}</span></td>
              <td><span class="transactions-items-text">{{row.comment}}</span></td>
            </tr>
          </ng-container>

          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
