<div class="form-field" [formGroup]="group">
  <label class="from-label"  *ngIf="label">{{label}}</label>
  <div class="style-field">
    <input type="text" class="style-input"
           [placeholder]="placeholder" bsDaterangepicker>
    <mat-icon class="mat-18 sj-ic-date">calendar_today</mat-icon>
  </div>
</div>
