<div class="form-field" [formGroup]="group">
  <label class="from-label" *ngIf="label">{{label}}</label>
  <div class="style-field">
    <textarea class="style-input"
              [cols]="cols"
              [rows]="rows"
              [formControlName]="controlName"
              [placeholder]="placeholder"></textarea>
  </div>
</div>
