<mat-toolbar>
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutAlign.gt-xs="space-between center"
    fxFlex
  >
    <div fxFlex="0 0 auto"></div>
    <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
      ყველა უფლება დაცულია WebApp.Ge
    </div>
  </div>
</mat-toolbar>
