<mat-icon class="close" svgIcon="close" (click)="closeSidebar()"></mat-icon>

<div class="sidebar-content">
  <h3 class="font-primary">კლიენტის დამატება/რედაქტირება</h3>
  <form [formGroup]="form" (ngSubmit)="submit(model)">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <button mat-raised-button color="primary" type="submit" >შენახვა</button>
  </form>
</div>
