<div fxLayout="column wrap">

  <div fxFlex="initial" class="calendar-header" fxLayout="row">
    <form fxFlex="initial" [formGroup]="dateform">

      <app-wa-datepicker placeholder="დაბ. თარიღი" [group]="dateform" controlName="date"></app-wa-datepicker>
    </form>
    <div fxFlex="initial" class="action-buttons">
      <button mat-raised-button class="button" *ngFor="let int of intervalTimes"
              (click)="changeInterval(int.value)">{{int.name}}</button>
    </div>
    <div fxFlex></div>

  </div>

  <app-calendar-grid-horizontal [employees]="employees$ | async" [bookedData]="calendar$ | async" [splitTime]="splitTime" (clicked)="addBooking($event)"></app-calendar-grid-horizontal>
<!--<app-calendar-horizontal-date fxFlex [employees]="employees$ | async" [splitTime]="splitTime" (clicked)="addBooking($event)"></app-calendar-horizontal-date>-->
</div>
<pre>

<!--{{calendar$ | async | json}}-->
</pre>
