@import "../../../../../@fuse/scss/fuse";

.sidenav-item {
  cursor: pointer;
  font-family: "BPGArialCaps", sans-serif;
  font-size: 12px;
  width: 100%;
  position: relative;
  .position-delete{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    visibility: hidden;

    mat-icon {
      width: 30px;
      height: 30px;
      font-size: 30px;
      color: #505050;
    }
  }

  &:hover {
    background-color: #cacaca;
    .position-delete{
      visibility: visible;
    }
  }
  &.active {
    background-color: #cacaca;
  }
}


.position-add{
  mat-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin: 5px;
    color: #505050;
  }
}

.position-add-field {
  background-color: white;

  mat-form-field {
    width: 100%;
    padding: 0 10px;
  }
}
