<div class="page-layout simple fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <mat-tab-group >
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="font-primary">პროცედურები</span>
          </ng-template>

          <app-service-content [isSpecial]="false"></app-service-content>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="font-primary">სპეციალური პროცედურები</span>
          </ng-template>

          <app-service-content [isSpecial]="true"></app-service-content>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="font-primary">კატეგორიები</span>
          </ng-template>
          <app-service-category></app-service-category>
        </mat-tab>
      </mat-tab-group>


      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>



