<div fxLayout="row">
  <div fxFlex="initial">
    <div class="page-desc">
       {{startNumber()}} - {{endNumber()}}  {{'PAGINATION.pageCount' | translate}}: {{itemCount}}
    </div>
  </div>
  <div fxFlex>
    <button mat-icon-button (click)="goPage(1)">
      <mat-icon>first_page</mat-icon>
    </button>
    <button mat-icon-button (click)="prevPage(page)">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-icon-button (click)="nextPage(page)">
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button mat-icon-button (click)="lastPage()">
      <mat-icon>last_page</mat-icon>
    </button>
  </div>
  <div fxFlex="initial">
    <div class="style-select pagesize">
      <select [(ngModel)]="pageSize" name="pageSize" (ngModelChange)="pageSizeChange($event)" >
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>

  </div>
</div>
