<div class="form-field">
  <label class="from-label">{{field.templateOptions.label}}</label>
  <div class="style-field">
    <input [formControl]="formControl" [formlyAttributes]="field" type="text" class="style-input"
           [placeholder]="to.placeholder">
  </div>
</div>
