
<div class="form-field" [formGroup]="group">
  <label class="from-label" *ngIf="label">{{label}}</label>
  <div class="style-field">
    <select class="form-select required select2-hidden-accessible style-input" [formControlName]="controlName"
            tabindex="-1" aria-hidden="true">
      <option value="0"></option>
      <option value="1">ნაღდი ანგარიშსწორება</option>
      <option value="2">საბანკო ბარათი</option>
      <option value="3">ნაღდი + საბანკო</option>
      <option value="4">წუთები</option>
      <option value="5">ბალანსი</option>
    </select>
  </div>
</div>

