<div class="form-field" [formGroup]="group">
  <label class="from-label" *ngIf="label">{{label}}</label>
  <div class="style-field">
    <select class="form-select required select2-hidden-accessible style-input" [formControlName]="controlName" tabindex="-1" aria-hidden="true">

      <ng-container *ngIf="employees$ | async as employees">
        <option *ngFor="let employee of employees" [value]="employee.id">
          {{employee.user.firstname}} {{employee.user.lastname}}
        </option>

      </ng-container>
    </select>

  </div>
</div>
