<div class="form-field" [formGroup]="group">
  <label class="from-label" *ngIf="label">{{label}}</label>
  <div class="style-field">
    <select class="form-select required select2-hidden-accessible style-input" [formControlName]="controlName"
            tabindex="-1" aria-hidden="true">
      <option value="1">დაჯავშნილი</option>
      <option value="2">დასრულებული</option>
    </select>
  </div>
</div>
