

.mat-dialog-title {
  margin: 0;
  height: 46px;
  padding: 0 0 0 15px;
  background-color: white;

  color: black;
  line-height: 46px;
  font-size: 16px;
  font-weight: normal;
}
.mat-dialog-content {
  margin: 0 !important;
  padding: 15px !important;

  font-size: 14px;
}
