<h1 mat-dialog-title>{{data.title | translate}} </h1>
<div mat-dialog-content>
	{{data.message | translate}}
</div>
<div mat-dialog-actions class="action-buttons">
	<button mat-raised-button (click)="onNoClick(false)" class="button">
		არა
	</button>
	<button mat-raised-button color="primary" class="button"
		(click)="onNoClick(true)">დიახ</button>
</div>
