<div [formGroup]="group">
  <div formArrayName="realizations"
       *ngFor="let item of formData.controls; let i = index;">
    <div fxLayout="column" class="realization-item" [formGroupName]="i">
      <div fxFlex="initial" fxlayout="row">
        <div fxFlex>
          <div class="form-field">
            <label class="from-label">დასახელება</label>
            <div class="style-field">
              <input type="text" class="style-input" readonly
                     formControlName="productName"
                     placeholder="დასახელება">
            </div>
          </div>
        </div>
        <div fxFlex="120px">
          <div class="form-field">
            <label class="from-label">გაყიდვა/გახარჯვა</label>
            <div class="style-field">
              <select class="form-select required select2-hidden-accessible style-input"
                      formControlName="paymentType"
                      tabindex="-1" aria-hidden="true">
                <option [value]="1">გაყიდვა</option>
                <option [value]="2">გახარჯვა</option>
              </select>
            </div>
          </div>
        </div>
        <div fxFlex="80px">
          <div class="form-field">
            <label class="from-label">გრამი</label>
            <div class="style-field">
              <input type="number" class="style-input"
                     formControlName="unitGram"
                     placeholder="გრამი">
            </div>
          </div>
        </div>
        <div fxFlex="80px">
          <div class="form-field">
            <label class="from-label">ცალი</label>
            <div class="style-field">
              <input type="number" class="style-input"
                     formControlName="unitQuantity"
                     placeholder="ცალი">
            </div>
          </div>
        </div>
        <div fxFlex>
          <div class="form-field">
            <label class="from-label">მყიდველი</label>
            <div class="style-field">
              <select class="form-select required select2-hidden-accessible style-input" formControlName="userId"
                      tabindex="-1" aria-hidden="true">
                <option *ngFor="let user of users.data" [value]="user.id">
                  {{user.firstname}} {{user.lastname}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="initial" fxlayout="row" formArrayName="employeeMeta"
           *ngFor="let employee of getEmployeeMeta(item); let j = index;">
        <div fxFlex [formGroupName]="j">
          <div class="form-field">
            <label class="from-label">თანამშრომელი</label>
            <div class="style-field">
              <select class="form-select required select2-hidden-accessible style-input" formControlName="employeeId"
                      tabindex="-1" aria-hidden="true">
                <option *ngFor="let employee of employees" [value]="employee.id">
                  {{employee.user.firstname}} {{employee.user.lastname}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div fxFlex="100px" [formGroupName]="j">
          <div class="form-field">
            <label class="from-label">პროცენტი</label>
            <div class="style-field">
              <input type="number" class="style-input"
                     formControlName="employeePercent"
                     placeholder="%">
            </div>
          </div>
        </div>
        <div fxFlex="100px" [formGroupName]="j">
          <div class="form-field">
            <label class="from-label">ხელფასი</label>
            <div class="style-field">
              <input type="number" class="style-input"
                     formControlName="employeFixedPrice"
                     placeholder="₾">
            </div>
          </div>
        </div>
        <div fxFlex="80px">
          <button mat-icon-button class="add-button" (click)="deleteEmployeeMeta(i)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div fxFlex="150px">
        </div>
      </div>
      <div fxFlex="initial" style="padding: 10px;">
        <button mat-raised-button  (click)="addEmployeeMeta(i)" class="font-primary">
          <mat-icon>add_circle</mat-icon>
          თანამშრომლის დამატება
        </button>
      </div>
      <div fxFlex="initial" fxlayout="row">
        <div fxFlex>
          <div class="form-field" [formGroup]="group">
            <label class="from-label">დამატებითი ინფორმაცია</label>
            <div class="style-field">
              <textarea class="style-input"
                        [rows]="2"
                        formControlName="description"
                        placeholder="დამატებითი ინფორმაცია"></textarea>
            </div>
          </div>
        </div>
        <div fxFlex="100px">
          <div class="form-field">
            <label class="from-label">ფასი</label>
            <div class="style-field">
              <input type="number" class="style-input"
                     formControlName="price"
                     placeholder="ფასი">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
