

.realization-item {
  width: calc(100% - 30px);
  height: auto;
  margin: 8px 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.add-button {
  color: #F5A623 !important;
  margin-top: 20px;
}
