<div class="form-field" [formGroup]="group">
  <label class="from-label" *ngIf="label">{{label}}</label>
  <div class="style-field">
    <input type="text" class="style-datepicker"
           [formControlName]="controlName"
           [placeholder]="placeholder"
           bsDatepicker
           [bsConfig]="{ adaptivePosition: true }">
    <mat-icon class="mat-18 sj-ic-date">calendar_today</mat-icon>
  </div>
</div>
