<div class="table-wrapper">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <table mat-table [dataSource]="dataSource" class="mat-table">

    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnName">
      <th mat-header-cell *matHeaderCellDef> {{column.columnTitle | translate}}</th>
      <td mat-cell *matCellDef="let element">
      <span [ngSwitch]="column.columnType">
				<span *ngSwitchCase="'array'">
						<span *ngFor="let item of element[column.columnName]" class="custom-table__tag">
							{{item.name}}
						</span>
				</span>
        <span *ngSwitchCase="'object'">
							{{element[column.columnName] && column.objectName ? element[column.columnName][column.objectName] : ''}}
				</span>
        <span *ngSwitchCase="'objectColored'" [style.color]="element[column.columnName]['color']">
							{{element[column.columnName] && column.objectName ? element[column.columnName][column.objectName] : ''}}
				</span>
        <span *ngSwitchCase="'color'">
          <div  [style.background]="element[column.columnName]">
            {{element[column.columnName]}}
          </div>
				</span>

        <span *ngSwitchCase="'booleanDot'">
          <div  [ngClass]="booleanDot(element[column.columnName])">
            <mat-icon svgIcon="checkbox-blank-circle"></mat-icon>
          </div>
				</span>

        <span *ngSwitchCase="'objectMulti'">
           <span *ngFor="let item of column.objectName" class="custom-table__tag">
							{{element[column.columnName] && column.objectName ? element[column.columnName][item] : ''}}
						</span>
				</span>
        <span *ngSwitchCase="'timestamp'">
							{{element[column.columnName] * 1000 | date:'dd/MM/yyyy HH:mm'}}
				</span>
        <span *ngSwitchCase="'timestamp-expired'">

							{{element[column.columnName] * 1000 | date:'dd/MM/yyyy HH:mm'}}
          <ng-container *ngIf="!element['expired']"><mat-icon svgIcon="clock-alert" color="warn"
                                                              class="icon-05x"></mat-icon></ng-container>
				</span>
         <span *ngSwitchCase="'date'">
							{{element[column.columnName] | date:'dd/MM/yyyy'}}
				</span>
        <span *ngSwitchCase="'datetime'">

							{{element[column.columnName] | date:'dd/MM/yyyy HH:mm'}}
				</span>
				<span *ngSwitchDefault>
					{{element[column.columnName]}}
				</span>
			</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button color="primary" *ngIf="actions && actions.show" (click)="showRow(element)" mat-icon-button
                class="action-btn">
          <mat-icon class="mat-18" svgIcon="eye"></mat-icon>
        </button>
        <button color="primary" *ngIf="actions && actions.edit" (click)="editRow(element)" mat-icon-button
                class="action-btn">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
        <button color="warn" *ngIf="actions && actions.delete" mat-icon-button class="action-btn">
          <mat-icon class="mat-18" (click)="deleteRow(element.id)">delete</mat-icon>
        </button>
        <button color="accent" *ngIf="actions && actions.accept" mat-icon-button class="action-btn">
          <mat-icon class="mat-18" (click)="acceptRow(element.id)" svgIcon="calendar-check"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<app-paginator [length]="paginatorLength" [pageSize]="paginatorPageSize" [pageIndex]="paginatorPageIndex"
               (page)="paginatorChange($event)">
</app-paginator>
