:host{
  width: 100%;
}
.table-wrapper {
  flex: 1 1 0%;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  overflow: auto;
  margin: 15px;
  //height: calc(100vh - 205px);
}

.mat-table {
  width: 100%;
  overflow: auto;
  max-height: calc(100vh - 205px);
  font-size: 12px;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  height: 40px;
  .mat-header-cell{
    padding: 0 15px;
  }
  th:last-of-type{
    min-width: 150px;
  }
}
.mat-row {
  transition: all 0.2s ease-in-out;
  height: 40px;
  .mat-cell{
    padding: 0 15px;
  }
  .mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;

  }
  .action-btn {
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    float: left;
  }
  &:hover {
    background-color: #eeeeee;
    .action-btn {
      color: #808080;
    }
  }
}

.booleanTrue {
  color: green;
}

.booleanFalse {
  color: red;
}
