@import "src/@fuse/scss/fuse";

toolbar {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;

  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 40px;
  }
  .avatar {
    width: 30px;
    height: 30px;
    min-height: 30px;
    line-height: 30px;
  }
  &.below {
    z-index: 2;
  }

  .mat-toolbar {
    position: relative;
    background: inherit !important;
    color: inherit !important;
  }

  .logo {
    display: flex;
    align-items: center;

    .logo-icon {
      width: 38px;
    }
  }

  .user-button,
  fuse-search-bar,
  .language-button,
  .chat-panel-toggle-button,
  .quick-panel-toggle-button {
    min-width: 40px;
    height: 40px;

    @include media-breakpoint('xs') {
      height: 56px;
    }
  }

  .navbar-toggle-button {
    min-width: 56px;
    height: 56px;
  }

  .toolbar-separator {
    height: 40px;
    width: 1px;

    @include media-breakpoint('xs') {
      height: 56px;
    }
  }
}
