<!--<mat-form-field appearance="outline">-->
<!--  <mat-label>{{field.templateOptions.label}}</mat-label>-->
<!--  <mat-select [formControl]="formControl" [formlyAttributes]="field">-->
<!--    <ng-container *ngIf="distributors$ | async as distributors">-->
<!--      <mat-option *ngFor="let distributor of distributors" [value]="distributor.id">-->
<!--        {{distributor.name}}-->
<!--      </mat-option>-->
<!--    </ng-container>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->
<div class="form-field">
  <label class="from-label">{{field.templateOptions.label}}</label>
  <div class="style-field">
    <select class="form-select required select2-hidden-accessible style-input" [formControl]="formControl"
            [formlyAttributes]="field" tabindex="-1" aria-hidden="true">
      <ng-container *ngIf="distributors$ | async as distributors">
        <option *ngFor="let distributor of distributors" [value]="distributor.id">{{distributor.name}}</option>
      </ng-container>
    </select>

  </div>
</div>
