<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">
  <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
    <div class="logo" [@animate]="{ value: '*', params: { scale: '0.2' } }">
      <img src="assets/images/logos/logo.svg" />
    </div>

    <div
      class="title"
      [@animate]="{ value: '*', params: { delay: '50ms', y: '25px' } }"
    >
      Welcome to the WebApp!
    </div>

    <div
      class="description"
      [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
      ullamcorper nisl erat, vel elit fermentum pellentesque. Sed mollis velit
      facilisis facilisis viverra.
    </div>
  </div>

  <div
    id="login-form-wrapper"
    fusePerfectScrollbar
    [@animate]="{ value: '*', params: { delay: '300ms', x: '100%' } }"
  >
    <div id="login-form">
      <div class="logo" fxHide.gt-xs>
        <img src="assets/images/logos/logo.svg" />
      </div>

      <div class="title">ავტორიზაცია</div>

      <form
        name="loginForm"
        [formGroup]="loginForm"
        (ngSubmit)="authenticate()"
        novalidate
      >
        <mat-form-field appearance="outline">
          <mat-label>ელ.ფოსტა</mat-label>
          <input matInput formControlName="email" type="email" email />
          <mat-icon matSuffix class="secondary-text">mail</mat-icon>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            Email is required
          </mat-error>
          <mat-error
            *ngIf="
              !loginForm.get('email').hasError('required') &&
              loginForm.get('email').hasError('email')
            "
          >
            Please enter a valid Email
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>პაროლი</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="accent"
          class="submit-button"
          aria-label="LOGIN"
          [disabled]="loginForm.invalid"
        >
          შესვლა
        </button>
      </form>
    </div>
  </div>
</div>
