<div class="page-layout carded left-sidebar inner-scroll">
  <!-- SIDEBAR -->
  <fuse-sidebar
    class="sidebar"
    name="employee-positions"
    position="left"
    lockedOpen="gt-md"
  >
    <!-- SIDEBAR CONTENT -->
    <div class="content " fusePerfectScrollbar>
      <div class="demo-sidebar">
        <mat-list>
          <div fxLayout="row">
            <h3 fxFlex matSubheader class="font-primary">პოზიციები</h3>
            <div fxFlex="initial" class="position-add">
              <button mat-icon-button (click)="addPosition()">
                <mat-icon svgIcon="playlist-plus"></mat-icon>
              </button>
            </div>
          </div>
          <div *ngIf="addPositionState" class="position-add-field">
            <form [formGroup]="form">
              <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="addField"
                       type="text"
                       formControlName="name"
                       required
                       placeholder="პოზიციის დამატება">
                <button matSuffix mat-icon-button (click)="submitPosition()">
                  <mat-icon svgIcon="plus-circle"></mat-icon>
                </button>
              </mat-form-field>
            </form>
          </div>
          <ng-container *ngIf="positions$ | async as positions">
            <ng-container *ngFor="let item of positions.data">
              <mat-list-item
                class="sidenav-item"
                [routerLink]="['/employees']"
                [queryParams]="{ position: item.id }"
                routerLinkActive="active"
              >
                <ng-container *ngIf="!item.canEdit; else canEditPosition">
                  <span>{{ item.name }}</span>
                  <div class="position-delete">
                    <button mat-icon-button (click)="editPosition(item)">
                      <mat-icon svgIcon="pencil"></mat-icon>
                    </button>
                    <button mat-icon-button (click)="deletePosition(item.id)">
                      <mat-icon svgIcon="delete"></mat-icon>
                    </button>
                  </div>
                </ng-container>
                <ng-template #canEditPosition>
                  <app-position-form  [data]="item" (dataChange)="submitUpdatePosition($event)"></app-position-form>
                </ng-template>


              </mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>
          </ng-container>
        </mat-list>
      </div>
    </div>
    <!-- / SIDEBAR CONTENT -->
  </fuse-sidebar>
  <!-- / SIDEBAR -->

  <!-- CENTER -->
  <div class="center">
    <!-- CONTENT CARD -->
    <div class="content-card">
      <!-- CONTENT -->
      <app-employees-content [positionId]="positionId"></app-employees-content>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
