<!-- PROGRESS BAR -->
<fuse-progress-bar></fuse-progress-bar>
<!-- / PROGRESS BAR -->

<vertical-layout-1></vertical-layout-1>

<fuse-sidebar
  name="themeOptionsPanel"
  class="theme-options-sidebar"
  position="right"
  [invisibleOverlay]="true"
>
  <!-- <fuse-theme-options></fuse-theme-options> -->
</fuse-sidebar>
<!-- / THEME OPTIONS PANEL -->
