:host {
  width: 890px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  padding: 0;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


.head {
  margin: 15px;
}

.content {
  overflow: auto;
  min-height: 550px;
  background-color: #F1F5F8;


}

.footer {
  margin: 15px;

}

