<div fxLayout="column">
  <div fxFlex="initial">
    <h4 class="head font-primary">რეალიზაციის დამატება</h4>
  </div>
  <div fxFlex="initial">

    <app-product-search (selectChanged)="chooseProduct($event)" ></app-product-search>

  </div>
  <div fxFlex class="content" fusePerfectScrollbar>

    <form [formGroup]="addForm">
      <app-realization-add-item [group]="addForm"  [realizationAdd]="realizationAdd$ | async"></app-realization-add-item>
    </form>

  </div>
  <div fxFlex="initial" class="footer" fxLayout="row">
    <div fxFlex></div>
    <div fxFlex="initial" fxLayout="row">
      <app-wa-button name="დახურვა" color="grey" (click)="closeSidebar()"></app-wa-button>
      <app-wa-button name="შესრულება" color="blue" (click)="submit()"></app-wa-button>
    </div>
  </div>
</div>
