:host {
  width: 340px;
  height: auto;
  border-radius: 10px;
  background-color: white;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
}


.cashier-icon {
  width: 81px;
  height: 81px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #4a90e2;
  padding: 15px;

  mat-icon {
    height: 50px;
    width: 50px;
    font-size: 50px;
    color: white;
  }
}
