<div class="cashier-icon">
  <mat-icon>local_atm</mat-icon>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
  <app-wa-input label="სალაროში თანხა" placeholder="თანხა" [group]="form" controlName="openSum"></app-wa-input>
  <app-wa-textarea label="კომენტარი" placeholder="მიუთითეთ კომენტარი" [cols]="10" [group]="form" controlName="comment"></app-wa-textarea>
  <app-wa-button name="სალაროს გახსნა" ></app-wa-button>
</form>
