
<div class="fuse-card" fxLayout="column">
  <div fxFlex class="p-16" fxLayout="row" fxLayoutAlign="space-between start">
    <div fxFlex class="pr-16">
      <div fxLayout="row">
        <div fxFlex="initial" class="avatar inline">
          <img class="img-circle ng-scope"
            src="/assets/images/avatars/profile.jpg">
        </div>
        <div fxFlex>
          <div class="h2">{{ employee?.user?.firstname }} {{ employee?.user?.lastname }}</div>
          <div class="h4 secondary-text font-primary">{{ employee?.position?.name }}</div>
        </div>
      </div>

      <div class=" line-height-1.75">მობილური: {{ employee?.user?.mobilePhone }}</div>
      <div class=" line-height-1.75">ტელეფონი: {{ employee?.user?.phone }}</div>
    </div>

  </div>

  <div fxFlex="initial" class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button (click)="view(employee.id)">
      <mat-icon class="mat-18" svgIcon="eye"></mat-icon>
    </button>
    <button mat-icon-button (click)="delete(employee.id)">
      <mat-icon class="mat-18">delete_forever</mat-icon>
    </button>
  </div>
</div>
