<mat-form-field appearance="outline">
  <mat-label>{{field.templateOptions.label}}</mat-label>
  <mat-select [formControl]="formControl" [formlyAttributes]="field">
    <ng-container *ngIf="employees$ | async as employees">
      <mat-option *ngFor="let employee of employees" [value]="employee.id">
        {{employee.user.firstname}} {{employee.user.lastname}}
      </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>
