<form [formGroup]="form">
  <mat-form-field floatLabel="never">
    <input matInput
           type="text"
           formControlName="name"
           required
           placeholder="პოზიციის დამატება">
    <button matSuffix mat-icon-button (click)="submitUpdatePosition()">
      <mat-icon svgIcon="arrow-right-drop-circle"></mat-icon>
    </button>
  </mat-form-field>
</form>
