
<div class="form-field">
  <label class="from-label">{{field.templateOptions.label}}</label>
  <div class="style-field">
    <ngx-timepicker-field [formControl]="formControl" [formlyAttributes]="field"  [format]="24" [defaultTime]="'00:30'" [controlOnly]="true"></ngx-timepicker-field>
  </div>
</div>
