<div fxLayout="column" fxLayoutGap="15px">
  <div fxFlex>
    <mat-card fxFlex class="profile-card">
      <mat-list role="list">
        <mat-list-item role="listitem" class="list-item"><span
          class="font-primary font-s12 mr-15">გამომუშავებული:</span> 45 ლარი
        </mat-list-item>
        <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">გაცემული:</span> 15
          ლარი
        </mat-list-item>
        <mat-list-item role="listitem" class="list-item"><span
          class="font-primary font-s12 mr-15">ჯამში გასაცემი:</span> 30 ლარი
        </mat-list-item>
      </mat-list>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div fxLayout="row" fxLayoutGap="15px" style="margin: 15px;">
          <div fxFlex="initial">
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="salaryDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="initial">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="გასაცემი თანხა" type="number" formControlName="salarySum">
            </mat-form-field>
          </div>
          <div fxFlex="initial">
            <button mat-mini-fab color="primary" type="submit">
              <mat-icon>add</mat-icon>
            </button>
          </div>

        </div>
      </form>
    </mat-card>

    <mat-card fxFlex class="profile-card">
      <mat-list role="list">
        <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">პროცედურები:</span>
          15 ლარი
        </mat-list-item>
        <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">პროდუქცია:</span> 15
          ლარი
        </mat-list-item>
        <hr>
        <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">ფიქსირებული %:</span>
          15 ლარი
        </mat-list-item>
        <mat-list-item role="listitem" class="list-item"><span
          class="font-primary font-s12 mr-15">ფიქსირებული თანხა:</span> 15 ლარი
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>


</div>

