<h3 class="popup-title caps">ხელფასის ჩარიცხვა</h3>

<div class="popup-addresse-list">
  <div class="popiup-addresse-scroll">
    {{data.salary |json}}
    <article class="popup-addresse-list-item" *ngFor="let item of data.salary">
      <a href="#" class="popup-addresse-list-link">
        <span class="client-img"><i class="icon-font sj-user"></i><img src="images/photo.png" alt=""></span>
        <span class="popup-person-info">{{item}}</span>
      </a>
    </article>

  </div>

</div>
<div class="popup-buttons  popup-buttons-right clearfix">
  <button class="style-button gray-but caps " (click)="close()">დახურვა </button>
  <input type="button" class="style-button blue-but noshadow caps"
         value="ხელფასის ჩარიცხა" />
</div>
