:host {
  width: 500px;
  height: 500px;
  background-color: white;
  position: relative;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
}


.style-button {
  margin: 5px 10px;
}
