<mat-icon class="close" svgIcon="close" (click)="closeSidebar()"></mat-icon>
<mat-tab-group class="sidebar-content">
  <mat-tab label="ინფორმაცია">
    <ng-template mat-tab-label>
      <span class="font-primary">ინფორმაცია</span>
    </ng-template>
    <ng-container *ngIf="data$ | async as employee">
      <div fxLayout="row">
        <mat-card fxFlex class="profile-card">
          <mat-list role="list">
            <mat-list-item role="listitem">
              <div fxLayout="row">
                <div fxFlex="initial" class="avatar inline">
                  <img class="img-circle"
                       src="/assets/images/avatars/profile.jpg">
                </div>
                <div fxFlex>
                  <div class="h2">{{ employee?.firstname }} {{ employee?.lastname }}</div>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">პირადი ნომერი:</span> {{employee.identityNumber}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">სქესი:</span> {{employee.gender}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">დაბადების თარიღი:</span> {{employee.birthDate}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">სახლის ნომერი:</span> {{employee.phone}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">მობილურის ნომერი:</span> {{employee.mobilePhone}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">ელ.ფოსტა:</span> {{employee.email}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">შექმნილი:</span> {{employee.createdAt | date}}</mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </ng-container>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="font-primary">პროცედურები</span>
    </ng-template>
    Content 2
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="font-primary">ტრანზაქციები</span>
    </ng-template>
    Content 3
  </mat-tab>
</mat-tab-group>
