<form fxLayout="column" [formGroup]="form">
  <div fxFlex fxLayout="row">
    <div fxFlex class="content" fusePerfectScrollbar>
      <div fxLayout="column wrap">
        <ng-container *ngIf="!addUser; else canAdd">
          <app-customer-search fxFlex="initial" (selectChanged)="chooseUser($event)"
                               (addUserEvent)="addUserEvent($event)"></app-customer-search>
        </ng-container>

        <ng-template #canAdd>
          <div fxFlex="initial" fxLayout="row wrap">
            <div fxFlex>
              <app-wa-input label="სახელი" placeholder="სახელი" [group]="form"
                            [controlName]="'firstname'"></app-wa-input>
            </div>
            <div fxFlex>
              <app-wa-input label="გვარი" placeholder="გვარი" [group]="form" [controlName]="'lastname'"></app-wa-input>
            </div>
            <div fxFlex>
              <app-wa-input label="ტელ.ნომერი" placeholder="ტელ.ნომერი" [group]="form"
                            [controlName]="'phone'"></app-wa-input>
            </div>
            <div fxFlex>
              <app-wa-datepicker label="დაბ. თარიღი" placeholder="დაბ. თარიღი" [group]="form" [controlName]="'bookingDate'"></app-wa-datepicker>
            </div>
            <div fxFlex="initial">
              <mat-icon class="icon-close close-add-user" (click)="addUser = !addUser"></mat-icon>
            </div>
          </div>
        </ng-template>
        <div fxFlex="initial" fxLayout="row wrap">
          <div fxFlex="220px">
            <app-wa-employee-select label="სპეციალისტი" placeholder="სპეციალისტი" [group]="form"
                                    controlName="employeeId"></app-wa-employee-select>
          </div>
          <div fxFlex>
            <app-wa-service-select label="პროცედურა" placeholder="პროცედურა" [group]="form"
                                   controlName="serviceId"></app-wa-service-select>
          </div>

          <div fxFlex="220px">
            <app-wa-booking-status-select label="სტატუსი" placeholder="სტატუსი" [group]="form"
                                          controlName="status"></app-wa-booking-status-select>
          </div>
        </div>
        <div fxFlex="initial" fxLayout="row">

          <div fxFlex>
            <app-wa-payment-type label="გადახდის ტიპი" placeholder="გადახდის ტიპი" [group]="form"
                                 controlName="paymentType"></app-wa-payment-type>
          </div>

          <div fxFlex="180px" *ngIf="form.get('paymentType').value == 0">
            <app-wa-input label="ღირებულება" placeholder="ღირებულება" [group]="form" type="number"
                          controlName="price"></app-wa-input>
          </div>

          <div fxFlex="180px" *ngIf="form.get('paymentType').value == 1">
            <app-wa-input label="ღირებულება" placeholder="ღირებულება" [group]="form" type="number"
                          controlName="cash"></app-wa-input>
          </div>

          <ng-container *ngIf="form.get('paymentType').value == 2">
            <div fxFlex="180px">
              <app-wa-input label="ბარათი" placeholder="ბარათი" [group]="form"
                            controlName="card" type="number"></app-wa-input>
            </div>
          </ng-container>

          <ng-container *ngIf="form.get('paymentType').value == 3">
            <div fxFlex="90px">
              <app-wa-input label="ნაღდი" placeholder="ნაღდი" [group]="form"
                            controlName="cash" type="number"></app-wa-input>
            </div>
            <div fxFlex="90px">
              <app-wa-input label="ბარათი" placeholder="ბარათი" [group]="form"
                            controlName="card" type="number"></app-wa-input>
            </div>
          </ng-container>

          <ng-container *ngIf="form.get('paymentType').value == 4">
            <div fxFlex="90px">
              <div class="user-bal">
                მომხ. წთ.
                <br/>
                150 წთ.
              </div>
            </div>
            <div fxFlex="90px">
              <app-wa-input label="წუთები" placeholder="წუთები" [group]="form"
                            controlName="minutes" type="number"></app-wa-input>
            </div>
          </ng-container>

          <ng-container *ngIf="form.get('paymentType').value == 5">
            <div fxFlex="90px">
              <div class="user-bal">
                მომხ. ბალ.
                <br/>
                50 <span class="lari lari-serif"></span>
              </div>
            </div>
            <div fxFlex="90px">
              <app-wa-input label="ბალანსი" [group]="form"
                            controlName="balance" type="number"></app-wa-input>
            </div>
          </ng-container>


          <div fxFlex="160px">
            <app-wa-input label="ფასდაკლება" placeholder="ფასდაკლება" [group]="form" type="number"
                          controlName="salePercent"></app-wa-input>
          </div>


        </div>
        <div fxFlex="initial" fxLayout="row">
          <div fxFlex>
            <app-wa-input label="ხელფასი ფიქსირებული" placeholder="ხელფასი ფიქსირებული" type="number" [group]="form"
                          controlName="salaryFixed"></app-wa-input>
          </div>
          <div fxFlex>
            <app-wa-input label="ხელფასი %" placeholder="ხელფასი %" [group]="form" type="number"
                          controlName="salaryPercent"></app-wa-input>
          </div>
          <div fxFlex>
            <app-wa-input label="დანახარჯი" placeholder="დანახარჯი" [group]="form" type="number"
                          controlName="fixedPrice"></app-wa-input>
          </div>
        </div>
        <div fxFlex="initial" fxLayout="row">
          <div fxFlex>
            <app-wa-datepicker label="თარიღი" placeholder="თარიღი" [group]="form"
                               controlName="bookingDate"></app-wa-datepicker>
          </div>
          <div fxFlex>
            <app-wa-input label="დაწყების დრო" placeholder="დაწყების დრო" [group]="form"
                          controlName="startTime"></app-wa-input>
          </div>
          <div fxFlex>
            <app-wa-input label="დასრულების დრო" placeholder="დასრულების დრო" [group]="form"
                          controlName="endTime"></app-wa-input>
          </div>
        </div>
        <div fxFlex="initial" fxLayout="row">
          <div fxFlex>
            <app-wa-textarea label="დამატებითი ინფორმაცია" placeholder="დამატებითი ინფორმაცია" [group]="form"
                          controlName="description"></app-wa-textarea>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap">
        <div fxFlex="initial" fxLayout="row">
          <button mat-raised-button class="font-primary" (click)="openSpecServices = !openSpecServices">
            <mat-icon class="icon-add_circle add-spec-service"></mat-icon>
            სპეციალური პროცედურა
          </button>
        </div>
        <app-spec-service-repeat-form *ngIf="openSpecServices" fxFlex="initial" [services]="specServices$ | async" [group]="form"></app-spec-service-repeat-form>
      </div>
    </div>
    <div fxFlex="355px" fxLayout="column">
      <div fxFlex="initial" class="regular-procedure">
        <div>
          <h3 class="font-primary">პროცედურები</h3>
        </div>
        <div fxLayout="row">
          <h4 (click)="procedures = 'regular'" [ngClass]="{'active': procedures === 'regular'}">რეგულარული</h4>
          <h4 (click)="procedures = 'user'" [ngClass]="{'active': procedures === 'user' }">კლიენტის</h4>
        </div>
        <ng-container *ngIf="procedures === 'regular'">
          <ng-container *ngIf="services$ | async as services">
            <div *ngFor="let service of services" class="user-procedure" fxLayout="row">
              <div fxFlex class="title">{{service.name}}</div>
              <div fxFlex="initial">
                <mat-icon class="icon info">info</mat-icon>
                <mat-icon class="icon add" (click)="chooseService(service)">add_circle</mat-icon>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="procedures === 'user'">
          <ng-container *ngIf="services$ | async as services">
            <div *ngFor="let service of services" class="user-procedure" fxLayout="row">
              <div fxFlex class="title">{{service.name}}</div>
              <div fxFlex="initial">
                <mat-icon class="icon info">info</mat-icon>
                <mat-icon class="icon add" (click)="chooseService(service)">add_circle</mat-icon>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <app-service-product-reapeat-form fxFlex [group]="form"
                                        [products]="products$ | async"></app-service-product-reapeat-form>
    </div>
  </div>
  <div fxFlex="initial" fxLayout="row">
    <div fxFlex></div>
    <div fxFlex="initial">
      <div class="popup-buttons  popup-buttons-right clearfix">
        <button class="style-button btn-action gray-but caps " (click)="closeSidebar()">დახურვა</button>
        <button type="button" class="style-button btn-action blue-but noshadow caps">
          შენახვა & ახალი

        </button>
        <button type="button" class="style-button btn-action blue-but noshadow caps" (click)="submit()">
          შენახვა
        </button>
      </div>
    </div>
  </div>
</form>
