:host {
  width: 1150px;
  height: 90vh;
  background-color: white;
  padding: 15px;
  position: relative;
  border-radius: 10px;
}


.close {
  position: absolute;
  left: 5px;
  top: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #dbdbdb;

  svg {
    height: 16px;
    width: 16px;
    font-size: 16px;
  }
}

h4 {
  color: black;
  height: 25px;
  margin-left: 8px;
}


mat-form-field {
  width: 100%;
}

.add_user{
  margin-top: 35px;
}

.close-add-user{
  margin-top: 35px;
  color: #F44336;
  cursor: pointer;
}

.regular-procedure {
  margin: 0 15px;
  h3 {
    margin: 0;
  }

  h4 {
    font-family: "BPG-Arial-2010", Sylfaen, Arial, sans-serif;
    font-size: 12px;
    color: #ACACAC;
    margin: 10px 5px 0;
    cursor: pointer;
    &.active {
      color: #F5A623;
    }
  }
}

.user-procedure {
  width: 327px;
  height: 35px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  margin: 5px 0;
  font-family: "BPG-Arial-Caps-2010", Sylfaen, Arial, sans-serif;
  font-size: 12px;

  .title {
    padding: 5px;
  }

  .icon {
    margin: 5px;
    cursor: pointer;

    &.add {
      color: #F5A623;
    }

    &.info {
      color: #95BFF1;
    }
  }
}



.btn-action {
  margin: 5px 10px;
}

.close-add-user{
  margin-top: 35px;
  color: #F44336;
  cursor: pointer;
}


.add-spec-service{
  color: #2638f4;
  cursor: pointer;
}


.user-bal {
  margin: 5px;
  border: 1px solid tomato;
  padding: 5px;
  border-radius: 5px;
  height: 54px;
  text-align: center;
}


.content {
  max-height: 600px;
  min-height: 600px;
  overflow: auto;
}


