.container {
  background-color: #FFFFFF;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.sallary-actions {
  margin: 10px;
}

.body-content {
  min-height: calc(100vh - 225px);
  overflow: auto;
}

.table {
  width: 100%;
  border: 0;
  border-collapse: collapse;

  thead {
    background: #f9fafc;
    color: #acacac;
    font-size: 11px;

    tr {
      border-top: 1px solid #e8e8e8;

      th:first-child {
        padding-left: 16px;
      }

      th {
        position: sticky;
        top: 0;
        padding: 15px 4px 14px;
        white-space: nowrap;
        background: #f9fafc;
        z-index: 1;
      }
    }

  }

  tfoot {
    background: #f9fafc;
    color: #acacac;
    font-size: 11px;

    tr {
      border-top: 1px solid #e8e8e8;

      th:first-child {
        padding-left: 16px;
      }

      th {
        position: sticky;
        bottom: 0;
        padding: 15px 4px 14px;
        white-space: nowrap;
        background: #f9fafc;
        z-index: 1;
        text-align: left;
      }
    }

  }

  td, th {
    //padding: 8px;
  }

  th:first-child, td:first-child {
    padding-left: 16px;
  }

  .transactions-items-text {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
    min-height: 13px;
    vertical-align: middle;
  }

  tbody {
    background: #ffffff;

    tr {
      border-top: 1px solid #e8e8e8;
    }
  }

  input {
    border: 1px solid #e8e8e8;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    padding: 0 10px;

    &:focus {
      border: 1px solid #727272;
    }
  }
}


.payment-type-button {
  margin: 15px;
}


::ng-deep .mat-button-toggle-checked {
  background: #3793ff !important;
  color: white !important;
}
