<div fxLayout="column wrap" class="container">
  <div fxFlex="70px" fxLayout="row">
    <div fxFlex="initial">
      <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" [(ngModel)]="paymentType"
                               class="payment-type-button font-primary" (ngModelChange)="paymentTypeSelect($event)">
        <mat-button-toggle [value]="0" class="font-primary">ყველა</mat-button-toggle>
        <mat-button-toggle [value]="1" class="font-primary">გაყიდვა</mat-button-toggle>
        <mat-button-toggle [value]="2" class="font-primary">გახარჯვა</mat-button-toggle>
      </mat-button-toggle-group>


    </div>
    <div fxFlex>
      <app-wa-input label="ძიება" placeholder="საძიებო სიტყვა"></app-wa-input>
    </div>
    <div fxFlex="initial" style="border-left: 1px solid rgb(216, 216, 216)">
      <app-wa-datepicker-range fxFlex="250px" label="თარიღით ძებნა"
                               placeholder="აირჩიეთ თარიღები"></app-wa-datepicker-range>
    </div>
  </div>
  <ng-container *ngIf="loadData$ | async as employees">
    <div fxFlex class="body-content" fusePerfectScrollbar="">

      <table class="table">
        <thead>
        <tr>
          <th><span class="transactions-items-text">{{'COLUMNS.barcode' | translate}}</span></th>
          <th><span class="transactions-items-text">{{'COLUMNS.productName' | translate}}</span></th>
          <th><span class="transactions-items-text">{{'COLUMNS.unitGram' | translate}}</span></th>
          <th><span class="transactions-items-text">{{'COLUMNS.unitQuantity' | translate}}</span></th>
          <th><span class="transactions-items-text">{{'COLUMNS.peymentType' | translate}}</span></th>
          <th><span class="transactions-items-text">{{'COLUMNS.price' | translate}}</span></th>
          <th><span class="transactions-items-text">{{'COLUMNS.createdBy' | translate}}</span></th>
          <th><span class="transactions-items-text">{{'COLUMNS.createdAt' | translate}}</span></th>
          <th class="transaction-delete-td">

          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of employees.data; let i = index">
          <td><span class="transactions-items-text">{{row?.productMeta?.barcode}}</span></td>
          <td><span class="transactions-items-text">{{row?.productName}}</span></td>
          <td><span class="transactions-items-text"><ng-container *ngIf="row?.unitGram">{{row?.unitGram}}
            გრ</ng-container></span></td>
          <td><span class="transactions-items-text"><ng-container *ngIf="row?.unitQuantity">{{row?.unitQuantity}}
            ც</ng-container></span></td>
          <td><span class="transactions-items-text">{{row?.paymentType | paymentType | translate}}</span></td>
          <td><span class="transactions-items-text">{{row?.price}}</span></td>
          <td><span class="transactions-items-text">{{row?.createdBy?.firstname}} {{row?.createdBy?.lastname}}</span>
          </td>
          <td><span class="transactions-items-text">{{row?.createdAt | date:'dd/MM/yyyy HH:mm'}}</span></td>
          <td>
            <button mat-icon-button>
              <mat-icon svgIcon="realization"></mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <div fxFlex="initial" fxLayout="row">
      <div fxFlex="initial">
        <app-wa-button name="ახალი რეალიზაცია" color="orange" (click)="addRealization($event)"></app-wa-button>
      </div>
      <div fxFlex></div>
      <div fxFlex="initial">
        <app-pagination
          [page]="employees.meta.page"
          [pageCount]="employees.meta.pageCount"
          [pageSize]="employees.meta.pageSize"
          [itemCount]="employees.meta.itemCount"
          (paginatorChange)="paginatorChange($event)"
        ></app-pagination>
      </div>
    </div>
  </ng-container>
</div>

