<mat-icon class="close" svgIcon="close" (click)="closeSidebar()"></mat-icon>

<mat-tab-group class="sidebar-content">
  <mat-tab label="ინფორმაცია">
    <ng-template mat-tab-label>
      <span class="font-primary">ინფორმაცია</span>
    </ng-template>
    <ng-container *ngIf="employee$ | async as employee">
      <div fxLayout="row">
        <mat-card fxFlex class="profile-card">
          <mat-list role="list">
            <mat-list-item role="listitem">
                <div fxLayout="row">
                    <div fxFlex="initial" class="avatar inline">
                      <img class="img-circle"
                        src="/assets/images/avatars/profile.jpg">
                    </div>
                    <div fxFlex>
                      <div class="h2">{{ employee?.user?.firstname }} {{ employee?.user?.lastname }}</div>
                      <div class="h4 secondary-text font-primary">{{ employee?.position?.name }}</div>
                    </div>
                  </div>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">პირადი ნომერი:</span> {{employee.user.identityNumber}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">სახლის ნომერი:</span> {{employee.user.phone}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">მობილურის ნომერი:</span> {{employee.user.mobilePhone}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">ელ.ფოსტა:</span> {{employee.user.email}}</mat-list-item>
          </mat-list>
        </mat-card>
        <mat-card fxFlex class="profile-card">
          <mat-list role="list">
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">სამუშაოს ტიპი:</span> {{employee.workType}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">გამომუშავების %:</span> {{employee.outputPercent}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">ხელფასი:</span> {{employee.fixedSalary}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">გამოჩნდეს კალენდარში:</span> {{employee.inCalendar}}</mat-list-item>
            <mat-list-item role="listitem" class="list-item"><span class="font-primary font-s12 mr-15">გამოჩნდეს აპლიკაციაში:</span> {{employee.visibleInApp}}</mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </ng-container>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="font-primary">ფინანსები</span>
    </ng-template>
    <app-employee-salary [employeeId]="data"></app-employee-salary>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="font-primary">გაყიდვები</span>
    </ng-template>
    <app-employee-realization></app-employee-realization>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="font-primary">ბალანსი</span>
    </ng-template>
    <app-employee-realization></app-employee-realization>
  </mat-tab>
</mat-tab-group>
