<div class="form-field" [formGroup]="group">
  <label class="from-label" *ngIf="label">{{label}}</label>
  <div class="style-field">
    <input  [type]="type" class="style-input"
            [formControlName]="controlName"
           [placeholder]="placeholder">
  </div>
</div>
