<div fxLayout="row wrap">
  <ng-container *ngIf="!selected; else isSelected">
    <div fxFlex>
      <div class="form-field autocomplete">
        <label class="from-label">მომხმარებლის ძიება</label>
        <div class="style-field">
          <input type="text" class="style-input" placeholder="მოძებნეთ მომხმარებელი" [(ngModel)]="search"
                 (ngModelChange)="searchEvent($event)">
        </div>
        <div class="autocomplete-opened" *ngIf="searchResult$ | async as searchResult" fxLayout="column">
          <div fxFlex="initial" *ngFor="let item of searchResult" class="search-item" (click)="selectItem(item)">
            {{item.firstname}} {{item.lastname}}
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="initial">
      <mat-icon class="icon-add_circle close-add-user" (click)="addUser()"></mat-icon>
    </div>
  </ng-container>
  <ng-template #isSelected>
    <div fxFlex class="selected-content">
      {{selected.firstname}} {{selected.lastname}} - {{selected.phone}} - {{selected.birthDate | date:'dd/MM/yyyy'}}
    </div>
    <div fxFlex="initial" style="border-bottom: 1px solid #c7c7c7;">
      <mat-icon class="icon-close close-add-user" (click)="clearCustomer()"></mat-icon>
    </div>
  </ng-template>
</div>
