<ng-container *ngIf="cashiersCurrent$ | async as cashiersCurrent">
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex class="cashier-card" fxLayout="column">
      <div fxFlex class="cashier-card__content">
        <div class="oval blue-bg">
          <mat-icon>money</mat-icon>
        </div>
        <div class="title title__blue"> თანხა დღის გახსნისას</div>
        <div class="sum sum__blue">{{cashiersCurrent.openSum}}
          <span class="lari lari-serif"></span>
        </div>
      </div>
      <div fxFlex="45px" class="cashier-card__footer">
        <ng-container *ngIf="cashiersCurrent.status === 'OPENED'; else closed">
          <button type="button" class="style-button btn-action blue-but noshadow caps close-button" >
            <mat-icon>lock</mat-icon>
            სალაროს დახურვა
          </button>
        </ng-container>
        <ng-template #closed>
          <button type="button" class="style-button btn-action blue-but noshadow caps close-button" (click)="cashierModal(cashiersCurrent.openSum)">
            <mat-icon>lock-open</mat-icon>
            სალაროს გახსნა
          </button>
        </ng-template>

      </div>
    </div>
    <div fxFlex class="cashier-card" fxLayout="column">
      <div fxFlex class="cashier-card__content">
        <div class="oval green-bg">
          <mat-icon>call_received</mat-icon>
        </div>
        <div class="title title__green">შემოსავალი</div>
        <div class="sum sum__green">{{cashiersCurrent.income}} <span class="lari lari-serif"></span></div>
      </div>
      <div fxFlex="45px" class="cashier-card__footer" fxLayout="row">
        <div fxFlex class="content">
          <mat-icon>money</mat-icon>
          {{cashiersCurrent.incomeCash}} <span class="lari lari-serif"></span>
        </div>
        <div fxFlex class="content">
          <mat-icon>credit_card</mat-icon>
          {{cashiersCurrent.incomeCard}} <span class="lari lari-serif"></span>
        </div>
      </div>
    </div>
    <div fxFlex class="cashier-card" fxLayout="column">
      <div fxFlex class="cashier-card__content">
        <div class="oval red-bg">
          <mat-icon>call_made</mat-icon>
        </div>
        <div class="title title__red">გასავალი</div>
        <div class="sum sum__red">{{cashiersCurrent.outcome}} <span class="lari lari-serif"></span></div>
      </div>
      <div fxFlex="45px" class="cashier-card__footer" fxLayout="row">
        <div fxFlex class="content">
          <mat-icon>money</mat-icon>
          {{cashiersCurrent.outcomeCash}} <span class="lari lari-serif"></span>
        </div>
        <div fxFlex class="content">
          <mat-icon>credit_card</mat-icon>
          {{cashiersCurrent.outcomeCard}} <span class="lari lari-serif"></span>
        </div>
      </div>
    </div>
    <div fxFlex class="cashier-card" fxLayout="column">
      <div fxFlex class="cashier-card__content">
        <div class="oval yellow-bg">
          <mat-icon>import_export</mat-icon>
        </div>
        <div class="title title__yellow"> მიმდინარე თანხა</div>
        <div class="sum sum__yellow">{{cashiersCurrent.openSum+(cashiersCurrent.income - cashiersCurrent.outcome)}} <span class="lari lari-serif"></span></div>
      </div>
      <div fxFlex="45px" class="cashier-card__footer" fxLayout="row">
        <div fxFlex class="content">
          <mat-icon>money</mat-icon>
          {{cashiersCurrent.openSum+(cashiersCurrent.incomeCash - cashiersCurrent.outcomeCash)}} <span class="lari lari-serif"></span>
        </div>
        <div fxFlex class="content">
          <mat-icon>credit_card</mat-icon>
          {{cashiersCurrent.incomeCard - cashiersCurrent.outcomeCard}} <span class="lari lari-serif"></span>
        </div>
      </div>
    </div>
  </div>
</ng-container>

