<div class="form-field" >
  <div class="style-field">
    <button type="submit" class="style-button btn-action  noshadow caps close-button" [ngClass]="setColor(color)" style="width: 100%;">
      <mat-icon *ngIf="iconName">{{iconName}}</mat-icon>
      {{name}}
    </button>
  </div>
</div>
