<form [formGroup]="form" (ngSubmit)="submit(model)">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <button mat-raised-button color="primary" type="submit">შენახვა</button>
</form>
