// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

@import "assets/styles/bpg-arial-caps.min.css";
@import "~font-larisome/css/font-larisome.min.css";
@import '~@impactdk/ngx-overlay/base';


body {
  color: #3c3c3c;
  font-size: 12px;
  font-family: "BPG-Arial-2010", Sylfaen, Arial, sans-serif;
  min-height: 100%;
  background-color: #f1f5f8;
  position: relative;
  overflow-x: hidden;
}


.font-primary {
  font-family: "BPGArialCaps", sans-serif;
}


button.mat-menu-item {
  line-height: 24px !important;
}
a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}
.mat-icon svg {
  height: 24px;
  width: 24px;
}
.mat-step-icon-content .mat-icon svg {
  height: 100%;
  width: 100%;
}


.action-buttons{
  margin-top: 15px;
  .button {
    margin-right: 15px;
  }
}


.w-64 {
  width: 64px;
}
.inline {
  display: inline-block;
}
.avatar {
  position: relative;
  display: inline-block;
  height: 100%;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 600;
  text-align: center;

  img {
    border-radius: 500px;
    width: 100%;
    vertical-align: middle;
    border: 0;
  }
}

.font-s12{
  font-size: 12px;
}

.font-s13{
  font-size: 13px;
}

.font-s14{
  font-size: 14px;
}

.font-s16{
  font-size: 16px;
}
.mr-15{
  margin-right: 15px;
}


.sidebar-content{
  margin: 15px 0;
  overflow: auto;
}


.display-flex { display: flex; }

.flex-1 { flex: 1; }

.flex-2 { flex: 2; }

.flex-3 { flex: 3; }

.flex-4 { flex: 4; }

.flex-5 { flex: 5; }

.flex-6 { flex: 6; }

[class*="flex-"] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*="flex-"]:first-child {
  padding-left: 0;
}

[class*="flex-"]:nth-last-child(2) {
  padding-right: 0;
}
.caps {
  text-transform: uppercase;
  font-family: "BPG-Arial-Caps-2010", Sylfaen, Arial, sans-serif;
  font-weight: normal;
}

.noshadow {
  box-shadow: 0 4px 10px 0 transparent;
}

/* line 388, ../sass/products.scss */
.style-button {
  display: inline-block;
  line-height: 33px;
  font-weight: bold;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  padding: 2px 30px 0;
  position: relative;
  border: 0;
}

/* line 406, ../sass/products.scss */
.style-button:hover {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #4a90e2;
  color: #ffffff;
}

/* line 413, ../sass/products.scss */
.style-button:hover:before {
  border-top: 5px solid #ffffff;
}

/* line 417, ../sass/products.scss */
.style-button.orange-but {
  color: #ffffff;
  background: #f5a623;
}

/* line 422, ../sass/products.scss */
.style-button.orange-but:hover {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #f5b71d;
}

/* line 429, ../sass/products.scss */
.style-button{
  &.blue-but {
    color: #ffffff;
    background: #4a90e2;
  }
}

/* line 434, ../sass/products.scss */
.style-button.blue-but:hover {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #a2c6f0;
}

/* line 440, ../sass/products.scss */
.style-button.gray-but {
  color: #ffffff;
  background: #dadada;
}

/* line 445, ../sass/products.scss */
.style-button.gray-but:hover {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #b4b4b4;
}
.form-field {
  padding: 5px;
  box-sizing: border-box;
}
.style-field {
  position: relative;
}
.from-label {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 7px;
  color:
    #000000;
  cursor: pointer;
}
.style-input {
  line-height: 30px;
  border: 1px solid #cbd0d4;
  font-family: "BPG-Arial-2010", Sylfaen, Arial, sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fafafa;

  &:focus {
    background-color: white;
  }
}

.style-datepicker {
  line-height: 30px;
  border: 1px solid #cbd0d4;
  font-family: "BPG-Arial-2010", Sylfaen, Arial, sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 30px 0 10px;
  font-size: 11px;
  width: 100%;
  box-sizing: border-box;
}


.style-select {
  border: 1px solid #D0D0D0;
  border-radius: 5px;
  select {
    /* Appearance will hide the default arrow */
    /* But kind of quirky and best to include the browser prefix */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
  }

  &:after {
    /*content: "\25C0"; /* left arrow */
    /*content: "\25b6"; /* right arrow */
    /*content: "\25b2"; /* up arrow */
    content: "\25bc"; /* down arrow */
  }
}


.form-select {
  width: 100%;
  line-height: 30px;
  font-size: 11px;
  height: 30px;
}

.popup-title, .popup-block-title {
  font-size: 18px;
  color: #212b35;
  line-height: 22px;
  margin: 5px 0;
}


.popup-addresse-list {
  background:
    #f5f5f5;
  padding: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.popiup-addresse-scroll {
  height: 370px;
  overflow-y: auto;
  padding: 15px;
}


.popup-addresse-list-item {
  margin-top: 17px;
}

.client-img {
  position: relative;
}
.client-img {
  width: 28px;
  height: 28px;
  display: inline-block;
  margin-right: 9px;
  overflow: hidden;
  font-size: 0;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  vertical-align: middle;
}
.clearfix::before, .clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.popup-buttons-right {

  padding-top: 2px;
}
.popup-buttons {
  position: relative;
}
.popup-buttons {
  margin: 5px 10px;
  text-align: right;
}


.tooltip-class {
  text-align: left !important;
}



