
<div class="form-field" [formGroup]="group">
  <label class="from-label" *ngIf="label">{{label}}</label>
  <div class="style-field">
    <select class="form-select required select2-hidden-accessible style-input"  [formControlName]="controlName" tabindex="-1" aria-hidden="true">
      <ng-container *ngIf="distributors$ | async as distributors">
        <option *ngFor="let distributor of distributors" [value]="distributor.id">{{distributor.name}}</option>
      </ng-container>
    </select>

  </div>
</div>
