:host {
  width: 100%;
  overflow-x: auto;
}
table {
  border-spacing: 0px;
}
table, th, td {
  border: 1px solid #d2d2d2;
  border-collapse: collapse;
}

.split {
  width: 40px;
  min-height: 40px;
  line-height: 40px;
  float: left;
  padding: 0;
  border-right: 1px solid #d2d2d2;
  background-color: #FFFFFF;
  color: #505050;
  cursor: pointer;
  position: relative;
  text-align: center;

  &:hover {
    background-color: #CCCCCC;
  }
}


.side {
  padding:5px 15px;
  height: 40px;

  &.no-border {
 border: none;
  }
}

.cal-content {
  padding: 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.line {
  min-height: 40px;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  &:hover {
    background-color: #2d323e;
    color: white;
  }
}

.calendar-header {
  background-color: white;
  width: 100%;
}
.action-buttons {
  margin: 5px 15px;

  .button {
    height: 25px;
    line-height: 25px;
  }
}


.booked {
  position: absolute;
  background-color: #F44336;
  height: 20px;
  border: 1px solid #6d727f;
  z-index: 1;
  border-left: 3px solid #2b8ff4;

  mat-icon {
    height: 16px;
    width: 16px;
    font-size: 16px;
  }
}


