<!--<pre>-->
<!--   {{bookedData | json}}-->
<!--</pre>-->
<div fxFlex="0 0 auto" class="cal-content">


  <table cellspacing="1">
    <thead>
    <tr>
      <th width="220px"></th>
      <th>
        <div fxLayout="row">
          <div *ngFor="let split of splitsArray" class="split">
            {{timeConvert(split)}}
          </div>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees; let f = first">
      <td>
        <div class="side">{{employee.user.firstname}} {{employee.user.lastname}}</div>
      </td>
      <td>
        <div fxFlex fxLayout="row" style="position: relative">
<!--          <div class="booked"-->
<!--               matTooltip="Info about the action"-->
<!--               style="top: 0px"-->
<!--               [style.background]="'yellow'"-->
<!--               [style.left]="getStart('11:30','12:30')+'px'"-->
<!--               [style.width]="getLength('11:30','12:30')+'px'"-->
<!--          ></div>-->

<!--          [matTooltip]="book?.startTime+' - '+book?.endTime +'\n'+ book?.user?.firstname +' '+ book?.user?.lastname"-->

                    <div *ngFor="let book of getBookings(bookedData,employee)" class="booked"
                         [tooltip]="'თანამშრომელი: '+book?.employee?.user?.firstname+' '+ book?.employee?.user?.lastname+'<br/>კლიენტი: '+ book?.user?.firstname +' '+ book?.user?.lastname+'<br/>პროცედურა: '+book?.service?.name+'<br/>ფასი: '+book?.price+' ლარი<br/> დრო: '+book?.startTime+' - '+book?.endTime"
                         placement="bottom"
                         [theme]="'light'"
                         [max-width]="350"
                         [tooltip-class]="'tooltip-class'"
                         style="top: 0px" [style.background]="book?.service?.serviceCategory?.color"
                         [style.left]="getStart(book.startTime,book.endTime)+'px'"
                         [style.width]="getLength(book.startTime,book.endTime)+'px'">
                      <mat-icon *ngIf="book.status === 2">lock</mat-icon>

                    </div>
          <div *ngFor="let split of splitsArray" class="split" (click)="addBooking(split,employee)"></div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

